*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main {
   background-image: url("../img/background.jpg");
  background-size: cover;
    width: 100%;
    height: 50vh;
}
.list {
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fefefe;
}
.list-item {
list-style: none;
}
.list-item-link {
    display: inline-block;
    text-decoration-line: none;
    color: #fefefe;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
#offer {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #fefefe;
}
.offer-list{
    background: transparent;
    
    
   
}
.list-item-offer{
    font-size: 25px;
    display: block;
    border-radius: 20px;
    text-align: left;
    
    
   
    

}
.list-item-offer a{
   
    color: #fefefe;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

.item-offer{
    margin-top: 40px;
    padding: 5;
    list-style: none;
/* border: 1px solid black; */
    display: none;
    background-color: transparent;
}
.list-item:hover >  .item-offer {
    display: block;
}
.logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.list-item-offer a:hover {
    font-size:30px ;
    color: gold;
}

.hero{
    color: #fefefe;
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero-bacground.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    align-items: center;
    display:inline-block;

}
.hero-box {
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
   
}
.hero-box-item {
    width: 500px;
    height: 500px;
    background: linear-gradient(
   50deg,
    rgba(0, 0, 0, 0.4) 100%,
    rgba(0, 0, 0, 0.1) 100%
  );
    margin: 20px 30px 20px 30px;
    box-sizing: border-box;
    display: inline-block;   
    padding: 5px;
    border-radius: 25px;
   
}

.hero-box-item-h2{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 10px;
}
.hero-box-item-link {
    padding-left: 20px;
    text-decoration: none;
    color: #fefefe;
}
.hero-box-item-h3{
    padding-left: 20px;
}

.hero-box-item-p{
    padding-left: 20px;
}
.hero-box-item-link:hover{
    font-size: 30px;
}



.box-map {
    width: 100%;
  height: 100%;
}
.box-map-item {
    background-size: cover;
    width:100% ;
    height:100%;
    border: 0;
    box-sizing: border-box;
    border-radius: 20px;
    opacity: 0.7;
    
}



.box-footer{
    padding-top: 15px;
     width: 100%;
     height: 14vh;
     background-color: black;
     font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    box-sizing: border-box;
     color: #fefefe;
     text-align: center;
   
 
 }
 .box-footer-nav{
    justify-content: space-between; }
 .box-footer-list-item{
     display: inline;
     margin-left: 15px;
   
     flex-wrap: wrap;
 }
 .box-footer-list {
 
 justify-content: center;
 }
 .box-footer-list-link {
     text-decoration: none;
 }
 .box-footer p {
     padding-top: 10px;
 }
 body .box-footer {
     position: relative;
     bottom: 0;
     
 }
 @media screen and (max-width: 768px){
 .box-about-item{
     
     width: 100%;
 }}
 @media screen and (max-width: 768px){
     .hero-box{
         
         justify-content: center;
     }}